FILE_NAME=/mnt/data0/jon/SmartPulseTool/StandardToken_0x0.sol
CONTRACT_NAME=StandardToken
TOTAL=totalSupply
BALANCES=balances
ALLOWANCES=allowed
TOT_SUP_CONTRACT=TokenInterface
BAL_OF_CONTRACT=StandardToken
ALLOWANCE_CONTRACT=StandardToken
APPROVE_CONTRACT=StandardToken
TRANSFER_CONTRACT=StandardToken
TRANSFER_FROM_CONTRACT=StandardToken
EXTRA_VARS=()
totalSupply=0
balances=1
allowed=2
