FILE_NAME=benchmarks/verX/Zilliqa/ZilliqaToken.sol
CONTRACT_NAME=ZilliqaToken
TOTAL=totalSupply
BALANCES=balances
ALLOWANCES=allowed
TOT_SUP_CONTRACT=ERC20Basic
BAL_OF_CONTRACT=BasicToken
ALLOWANCE_CONTRACT=StandardToken
APPROVE_CONTRACT=PausableToken
TRANSFER_CONTRACT=ZilliqaToken
TRANSFER_FROM_CONTRACT=ZilliqaToken
EXTRA_VARS=(owner pausedPublic pausedOwnerAdmin admin name symbol decimals)
